@font-face {
  font-family: Arial;
  src: url("../fonts/arialmt.ttf");
}

@font-face {
  font-family: Georgia;
  src: url("../fonts/georgia.ttf");
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .contancts {
  width: 279px;
  height: 234px;
  padding: 57px 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .locations {
  width: 302px;
  height: 234px;
  padding: 57px 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .locations .content-adresse-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .locations .content-adresse-1 .adresse-1 {
  display: inline-block;
  width: 260px;
}

.footer .title-footer {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  margin: 0;
  letter-spacing: 0.06em;
}

.footer .content {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin: 0;
  color: #F1CDB3;
}

.footer .icon-footer {
  padding-right: 20px;
  vertical-align: middle;
}

.footer .img {
  padding-top: 40px;
  height: 310px;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  max-width: 1280px;
  margin: 0 auto;
  background: url(../../assets/images/noise_transparent@2x.png) repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    position: relative;
  }
}

.wrapper {
  padding: 0 40px 0;
}

@media screen and (max-width: 1279px) {
  .wrapper {
    padding: 0 30px 0;
  }
}

@media screen and (min-width: 319px) and (max-width: 767px) {
  .wrapper {
    padding: 0 10px 0;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #FFFFFF;
}

.header .logo {
  text-align: center;
}

.header .title {
  font-family: Georgia;
  color: #545454;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
}

.header .subtitle {
  margin: 10px 0 0;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}

.header .nav-menu {
  width: 443px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header .nav-menu {
    position: absolute;
    background-color: #292929;
    height: 100vh;
    width: 320px;
    right: -320px;
    top: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 4;
  }
}

.header .nav-menu.open {
  right: 0;
}

.header .nav-menu .nav-menu-logo {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header .nav-menu .nav-menu-logo {
    display: block;
    width: 186px;
    padding: 30px 126px 0 10px;
  }
  .header .nav-menu .nav-menu-logo .title {
    color: #F1CDB3;
  }
  .header .nav-menu .nav-menu-logo .subtitle {
    color: #FFFFFF;
  }
}

.header .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header .nav-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    padding-top: 158px;
  }
}

.header .nav-items .link {
  color: #545454;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  -webkit-transition: color .6s;
  transition: color .6s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 3px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header .nav-items .link {
    color: #CDCDCD;
    font-size: 32px;
    line-height: 52px;
    padding-bottom: 7px;
  }
}

.header .nav-items .link:hover {
  color: #292929;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header .nav-items .link:hover {
    color: #FAFAFA;
  }
}

.header .nav-items .activ {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header .nav-items .activ {
    color: #FAFAFA;
  }
}

.header .hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 50px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 5;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 43px 0 0;
  }
}

.header .hamburger .line {
  width: 100%;
  height: 2px;
  background: #000000;
  margin: 4px 0;
  z-index: 6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .hamburger.open .line {
  background: #F1CDB3;
}

.header .hamburger.open .line1 {
  -webkit-transform: rotate(-90deg) translate(-10px, -10px);
          transform: rotate(-90deg) translate(-10px, -10px);
}

.header .hamburger.open .line2 {
  -webkit-transform: rotate(-90deg) translate(0, 0);
          transform: rotate(-90deg) translate(0, 0);
}

.header .hamburger.open .line3 {
  -webkit-transform: rotate(-90deg) translate(10px, 10px);
          transform: rotate(-90deg) translate(10px, 10px);
}

.main {
  background-color: #F6F6F6;
}

.main .pets-content {
  padding: 80px 0 100px;
  gap: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1279px) {
  .main .pets-content {
    gap: 30px;
    padding-bottom: 76px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .pets-content {
    padding-top: 42px;
    padding-bottom: 42px;
    gap: 42px;
  }
}

.main .pets-content .heading {
  width: 400px;
  text-align: center;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  margin: 0;
  color: #545454;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .pets-content .heading {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    margin: 0;
  }
}

.main .pets-content .cards_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  row-gap: 0;
}

@media screen and (max-width: 1279px) {
  .main .pets-content .cards_container {
    padding-left: 15%;
    padding-right: 15%;
    gap: 6.5%;
    row-gap: 30px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 1170px) {
  .main .pets-content .cards_container {
    padding-left: 8.5%;
    padding-right: 8.5%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .pets-content .cards_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .pets-content .cards_container .card {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  height: 435px;
  background-color: #FAFAFA;
  border-radius: 9px;
  -webkit-transition: all .6s;
  transition: all .6s;
}

@media screen and (max-width: 1279px) {
  .main .pets-content .cards_container .card {
    margin: 0;
  }
}

.main .pets-content .cards_container .card .title-pets {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin: 0;
  color: #545454;
}

.main .pets-content .cards_container .card .btn {
  height: 52px;
  width: 207px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  color: #292929;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  -webkit-transition: all .8s;
  transition: all .8s;
  background-color: transparent;
  width: 187px;
  border: 2px solid #F1CDB3;
}

.main .pets-content .cards_container .card .btn:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.main .pets-content .cards_container .card:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.main .pets-content .cards_container .card:hover .btn {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.main .pets-content .navigation {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .pets-content .navigation {
    width: 300px;
  }
}

.main .pets-content .navigation .button_paginator {
  border-radius: 100px;
  height: 52px;
  width: 52px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin: 0;
  background-color: transparent;
  border: 2px solid #F1CDB3;
}

.main .pets-content .navigation .no-active {
  -webkit-transition: all .6s;
  transition: all .6s;
}

.main .pets-content .navigation .no-active:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.main .pets-content .navigation .inactive {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}

.main .pets-content .navigation .current {
  background-color: #F1CDB3;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}

@media screen and (max-width: 1279px) {
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8.5%;
    row-gap: 65px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    gap: 3.3%;
  }
}

.footer .contancts {
  width: 279px;
  height: 234px;
  padding: 57px 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer .contancts {
    padding: 30px 0 0 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer .contancts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 208px;
  }
}

.footer .locations {
  width: 302px;
  height: 234px;
  padding: 57px 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .locations .content-adresse-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .locations .content-adresse-1 .adresse-1 {
  display: inline-block;
  width: 260px;
}

@media screen and (max-width: 1279px) {
  .footer .locations {
    padding: 30px 0 0 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer .locations {
    height: 222px;
    padding: 40px 10% 0;
  }
}

.footer .title-footer {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  margin: 0;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer .title-footer {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    margin: 0;
    text-align: center;
    width: 290px;
    padding-left: 5px;
  }
}

.footer .content {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin: 0;
  color: #F1CDB3;
}

.footer .icon-footer {
  padding-right: 20px;
  vertical-align: middle;
}

.footer .img {
  padding-top: 40px;
  height: 310px;
}

@media screen and (max-width: 1279px) {
  .footer .img {
    padding: 5px 5% 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer .img {
    padding-top: 40px;
    height: 269px;
  }
}
/*# sourceMappingURL=style.css.map */