@import "../../assets/styles/assets";

html {
    scroll-behavior: smooth; 
}

html, body {
    overflow-x: hidden;

    &.no-active {
        overflow-y: hidden;
    }
}



body{
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    background: url(../../assets/images/noise_transparent@2x.png) repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    color: $color-light-xl;

    @media screen and (max-width: 767px){
        position: relative;
    }
}

.wrapper {
    padding: 0 40px 0;
   
    @media screen and (max-width: 1279px) {
        padding: 0 30px 0;
    }

    @media screen and (max-width: 767px){
        padding: 0 10px 0;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    align-items: center;
    height: 60px;

    @media screen and (max-width: 1279px) {
        padding-top: 30px;
    }

    .logo {
        text-align: center;
    }

    .title {
        font-family: Georgia;
        color: $color-primary;
        font-size: 32px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0.06em;
    }

    .subtitle {
        margin: 10px 0 0;
        font-family: 'Arial';
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
    }

    .nav-menu {
        width: 443px;

        @media screen and (max-width: 767px) {
            position: absolute;
            background-color: $color-dark-3xl;
            height: 100vh;
            width: 320px;
            right: -320px;
            top: 0;
            transition: 0.5s;
            z-index: 25;
        } 

        &.open {
            right: 0;
        }

        .nav-menu-logo {
            display: none;

            @media screen and (max-width: 767px) {
                display: block;
                width: 186px;
                padding: 30px 126px 0 10px;
            } 
        }
    }

    

    .nav-items {
        display: flex;
        justify-content: space-between;
        padding-bottom: 3px;
        z-index: 5;

        .activ {
            color: $color-light-s;
            border-bottom: 3px solid $color-primary;
        }

        @media screen and (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            gap: 40px;
            padding-top: 158px;
        }
    }

    .link {
        color: $color-dark-s;
        font-family: 'Arial';
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        transition: color .6s;
        box-sizing: border-box;
        padding-bottom: 3px;

        @media screen and (max-width: 767px) {
            color: $color-dark-s;
            font-size: 32px;
            line-height: 52px;
            padding-bottom: 7px;
        }

        &:hover {
            color: $color-light-s;
        }
    }


    .hamburger {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 50px;
        cursor: pointer;
        user-select: none;
        z-index: 25;

        @media screen and (max-width: 767px) {
            display: flex;
            padding: 0 43px 0 0;
        }
        
        .line {
            width: 100%;
            height: 2px;
            background: $color-primary;
            margin: 4px 0;
            z-index: 6;
            transition: all 0.3s ease-in-out;
        }
        
        &.open {
            .line1 {
                transform: rotate(-90deg) translate(-10px, -10px);
            }
            .line2 {
                transform: rotate(-90deg) translate(0, 0);
            }
            .line3 {
                transform: rotate(-90deg) translate(10px, 10px);
            }
        }
    }
}

.not_only {
    padding-top: 60px;

    .wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        
        @media screen and (max-width: 1279px) {
            flex-direction: column;
            align-items: center;
            gap: 100px;
        }

        .content{
            display: flex;
            flex-direction: column;
            gap: 42px;
            padding-top: 163px;
            width: 39%;

            @media screen and (max-width: 1279px) {
                padding-top: 0;
                width: 460px;
            }

            @media screen and (max-width: 767px){
                align-items: center;
            }

            .heading{
                width: 310px;
                @include header2();

                @media screen and (max-width: 767px){   
                    @include header3-mobile();
                    letter-spacing: 0.07em;
                    text-align: center;
                    width: 220px;
                }
            }

            .subheading{
                @include paragraphL();
                color: $color-dark-m;

                @media screen and (max-width: 767px){
                    width: 300px;
                    text-align: center;
                }
            }

            .btn {
                @include btn();
                background-color: $color-primary;

                @media screen and (max-width: 1279px) {
                    display: block;
                    margin: 0 auto;
                }
            } 
        }

        .not_only-img {
            @media screen and (max-width: 1279px) {
                width: 80.4%;
                margin-left: auto;
                margin-right: 0;
            }
            @media screen and (max-width: 320px) {
                padding-top: 5px;
                width: 260px;
            }
        }
    }
}

.about   {
    .wrapper{       
        display: flex;
        justify-content: center;
        gap: 10%;
        // padding: 0 40px 0;
        background-color: $color-light-xl;

        @media screen and (max-width: 1279px) {
            flex-direction: column-reverse;
            align-items: center;
        }

        .about-img{
            padding: 80px 0 100px 0;
            height: 408px;
            width: 300px;

            @media screen and (max-width: 1279px) {
                padding-top: 0;
            }

            @media screen and (max-width: 767px)  {
                height: 353.6px;
                width: 260px;
                padding-bottom: 42.4px;
            }
        }

        .content {
            padding: 94px 0 114px 0;

            @media screen and (max-width: 1279px) {
                padding: 80px 0;
            }

            @media screen and (width: 320px) {
                padding: 42px 0;
            }

            .heading {
                @include header3();
                color: $color-dark-l;
                width: 370px;

                @media screen and (max-width: 767px){   
                    @include header3-mobile();
                    text-align: center;
                    width: 270px;
                }
            }

            .subheading {
                padding-top: 24px;
                width: 430px;
                @include paragraphL();
                color: $color-dark-xl;

                @media screen and (max-width: 767px){   
                    width: 270px;
                    text-align: justify;
                }
            }
        }
    }
}

.our_friends{
    .wrapper{
        background-color: $color-light-l;
        padding-bottom: 100px;

        @media screen and (max-width: 320px) {  
            padding-bottom: 42px;
        }

        .pets-content {
            padding-top: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 60px;

            @media screen and (max-width: 767px){   
                padding-top: 42px;
            }

            @media screen and (max-width: 320px) {   
                gap: 42px;
            }

            .heading{
                text-align: center;
                width: 400px;
                @include header3();
                color: $color-dark-l;

                @media screen and (max-width: 767px){   
                    @include header3-mobile();
                    text-align: center;
                    width: 300px;
                }
            }

            .slider {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media screen and (max-width: 767px){  
                    justify-content: center; 
                    gap: 85px;
                    row-gap: 20px;
                    flex-wrap: wrap;
                }

                .button_arrow_forward,
                .button_arrow_back {
                    border-radius: 100px;
                    height: 52px;
                    width: 52px;
                    background-color: transparent;
                    border: 2px solid $color-primary;
                    transition: all .6s;

                    &:hover{
                        cursor: pointer;
                        background-color: $color-primary-light;
                        border: 2px solid $color-primary-light;
                    }
                }

                .cards {
                    display: flex;
                    width: 82.5%;
                    justify-content: space-between;

                    @media screen and (max-width: 1279px) {
                        justify-content: space-around;
                    }

                    @media screen and (max-width: 768px) {
                        justify-content: space-between;
                        width: 81.9%;
                    }

                    @media screen and (max-width: 767px) { 
                        justify-content: center;  
                        order: -1;
                    }

                    .card {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 30px;
                        height: 435px;
                        background-color: $color-light-s;
                        border-radius: 9px;
                        transition: all .6s;

                        .title-pets{
                            @include header4();
                            color: $color-dark-l;
                        }

                        .btn{
                            @include btn();
                            width: 187px;
                            border: 2px solid $color-primary;
                        }

                        &:hover{
                            cursor: pointer;
                            background-color: $color-light-xl;
                            box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04); 
                            
                            .btn{
                                background-color: $color-primary-light;
                                border: 2px solid $color-primary-light;
                            }
                            
                        }
                    }

                    &.anim-cards {
                        animation: next 2s 0s;
                    }
                }
            }

            .btn {
                @include btn();
                background-color: $color-primary;
                width: 261px;
            }
        }
    }
}

.help {
    .wrapper{
        background-color: $color-light-xl;
        
        .help-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 80px;

            @media screen and (max-width: 767px) {  
                padding-top: 42px;
            }

            .heading{
                width: 310px;
                @include header3();
                color: $color-dark-l;
                text-align: center;

                @media screen and (max-width: 767px) {  
                    @include header3-mobile();
                    width: 270px;
                }
            }

            .list {
                padding: 60px 0 100px;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                gap: 120px;
                row-gap: 55px;

                @media screen and (max-width: 1279px) {
                    padding-left: 5.5%;
                    padding-right: 5.5%;
                    gap: 7%;
                    row-gap: 55px;  
                    justify-content: space-between;
                }

                @media screen and (max-width: 767px) { 
                    padding: 42px 5px 42px;
                    gap: 30px;
                    width: 290px;
                }

                .list-item{
                    height: 113px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    @media screen and (max-width: 1279px) {
                        width: 26.7%;
                    }

                    @media screen and (max-width: 767px) {  
                        height: 87px;
                        width: 130px;
                    }

                    .icon {
                        height: 60px;

                        @media screen and (max-width: 767px) {  
                            height: 50px;
                        }
                    }

                    .title-icon{
                        @include header4();
                        letter-spacing: 0.055em;
                        color: $color-dark-l;

                        @media screen and (max-width: 767px) {  
                            @include header5();
                        }
                    }
                }
            }
        }
    }
}

.in_addition {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: $color-light-l;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 1279px) {
        flex-direction: column-reverse;
        gap: 60px;
    }

    @media screen and (max-width: 767px) { 
        padding-top: 42px;
        padding-bottom: 42px;
        gap: 42px;
    }

    .donation-img {

        @media screen and (max-width: 768px) {
            padding-bottom: 0;
        }

        @media screen and (max-width: 767px) {
            width: 86.6%;
            max-width: 505px;
        }
    }

    .content {
        width: 380px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (max-width: 767px) {
            padding-bottom: 0;
            align-items: center;
            width: 300px;
        }

        .heading {
            width: 300px;
            @include header3();
            color: $color-dark-l;

            @media screen and (max-width: 767px) { 
                @include header3-mobile();
                text-align: center;
                width: 220px;
            }
        }

        .subheading {
            @include header5();
            color: $color-dark-l;

            @media screen and (max-width: 767px) { 
                line-height: 24px;
                letter-spacing: 0;
            }
        }

        .credit-card {
            width: 349px;
            height: 43px;
            background-color: $color-primary;
            border-radius: 9px;
            border: 2px solid $color-primary;
            transition: all .6s;
            @include header4();
            color: $color-dark-l;

            @media screen and (max-width: 767px) { 
                width: 281px;
                @include header5();
            }

            .icon-footer{ 
                padding-right: 15px;
                vertical-align: middle;
            }
            
            &:hover{
                cursor: pointer;
                background-color: $color-primary-light;
                border: 2px solid $color-primary-light;
            }

        }

        .informalion{
            @include paragraphS();
            color: $color-dark-m;

            @media screen and (max-width: 767px) { 
                width: 280px;
                text-align: justify;
            }
        }
    }
}

.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;


    @media screen and (max-width: 1279px) {
        
        gap: 8.5%;
        row-gap: 65px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) { 
        // gap: 10px;
        gap: 3.3%;
    }

    .contancts{
        width: 279px;
        height: 234px;
        padding: 57px 0 60px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (max-width: 1279px) {
            padding: 30px 0 0 0;
        }

        @media screen and (min-width: 320px) and (max-width: 767px) { 
            align-items: center;
            height: 208px;
            justify-content: center;
        }
    }

    .locations{
        width: 302px;
        height: 234px;
        padding: 57px 0 60px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content-adresse-1 {
            display: flex;
            align-items: center;
            .adresse-1{
                display: inline-block;
                width: 260px;
            }
        }

        @media screen and (max-width: 1279px) {
            padding: 30px 0 0 0;
        }

        @media screen and (min-width: 320px) and (max-width: 767px) { 
            height: 222px;
            padding: 40px 10% 0;
        }
    }

    .title-footer{
        @include header3();
        letter-spacing: 0.06em;

        @media screen and (min-width: 320px) and (max-width: 767px) { 
            @include header3-mobile();
            text-align: center;
            width: 290px;
            padding-left: 5px;
        }
    }

    .content {
        @include header4();
        color: $color-primary;
    }

    .icon-footer{ 
        padding-right: 20px;
        vertical-align: middle;
    }

    .img{
        padding-top: 40px;
        height: 310px;

        @media screen and (max-width: 1279px) {
            // padding-top: 5px;
            padding: 0 10% 0;
        }

        @media screen and (min-width: 320px) and (max-width: 767px) { 
            padding-top: 40px;
            height: 269px;
        }
    }
}





@keyframes next {

    from  {
        transform: translate(0%, 0%);
    }
    50% {
        transform: translate(-150%, 0%);
        opacity: 0;

    }

    51% {
        opacity: 0;
        transform: translate(150%, 0%);
    }
    75% {
        opacity: 1;
        transform: translate(0%, 0%);
    }
}